.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 255, 255, 0.2);
}

.maincontainer {
  width: 700px;
  height: 70vh;

  background-color: rgba(0, 255, 255, 0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.chat-window {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;

  padding: 10px;

  color: white;
}

.client {
  margin-left: 360px;
  background: rgb(6, 213, 254);
}

.bot {
  background: rgb(0, 157, 255);
}

.chats {
  border-radius: 20px;
  padding: 5px;
  width: 300px;
  margin-top: 3px;

  letter-spacing: 1px;
}

.inputs {
  bottom: 40px;
  width: 700px;

  position: fixed;
}

.inputs form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs form input {
  height: 30px;
  width: 600px;

  outline: none;
  border: none;

  border-radius: 20px;

  padding-left: 30px;
}

.inputs form button {
  height: 25px;

  outline: none;
  border: none;

  background-color: blue;

  color: white;

  border-radius: 10px;
}